In [ ]:
shape of the dataset

find maximum, minimum and average score of each student

Calculate the total score for each subject

Retrieve scores for the first 3 students

Extract the scores for Math

Find how many students scored above 80 in English

In [6]:
import numpy as np

# Example dataset
students_scores = np.random.randint(50, 100, (10, 5))  # 10 students, 5 subjects
subjects = ['Math', 'English', 'Science', 'History', 'Art']

# Print headers
print(f"{'Student':<10} " + " ".join(f"{sub:<8}" for sub in subjects))

# Print scores
for i, scores in enumerate(students_scores, start=1):
    print(f"{'Student ' + str(i):<10} " + " ".join(f"{score:<8}" for score in scores))

Student    Math     English  Science  History  Art
Student 1  78       74       99       69       98
Student 2  64       90       59       65       74
Student 3  77       59       69       76       63
Student 4  51       79       64       72       57
Student 5  57       67       59       88       71
Student 6  59       59       72       86       84
Student 7  69       71       89       61       75
Student 8  53       67       68       61       83
Student 9  50       88       81       94       79
Student 10 78       99       85       64       72

In [11]:
 print(students_scores.shape)

(10, 5)

In [13]:
np.max(students_scores[:])

99

In [15]:
np.min(students_scores[:])

50

In [17]:
np.mean(students_scores[:])

72.52

In [18]:
math_total =0

for row in students_scores:
    math_total += row[0]
    
print(f"math score : {math_total}")

math score : 636

In [22]:
np.sum(students_scores[:, 0])

636

In [24]:
#students_scores[:3]

first_three_rows = students_scores[:3]

total =np.sum(first_three_rows)

print(total)

1114